<ul class="data-table" data-test-account-list>
    <li class="table-row table-header">
      {{#each @accountAttributes as |attr|}}
        <div class="table-column">{{format-title attr}}</div>
      {{/each}}
    </li>
    {{#each @model as |account|}}
      <AccountList::Row @account={{account}} @attributes={{@accountAttributes}} />
    {{/each}}
  </ul>
  