<li class="table-header">
  <div class="table-column">
    Account
  </div>
  {{#each @months as |month|}}
    <div class="table-column">
      {{month}}
    </div>
  {{/each}}
  <div class="table-column">
    <b>Total</b>
  </div>
</li>