<li class="table-row">
  <div class="table-column">
    Remaining Income
  </div>
  {{#each @monthlyRemainingIncome as |monthlyIncome|}}
    <div class="table-column">
      <b>{{format-money monthlyIncome}}</b>
    </div>
  {{/each}}
  <div class="table-column">
    <b>{{format-money @totalRemainingIncome}}</b>
  </div>
</li>