<li class="table-row">
  <div class="table-column">Change in pmt totals</div>
  {{#each @totalDifferenceByMonth as |total|}}
    <div class="table-column">{{format-money total}}</div>
  {{/each}}
  <div class="table-column"></div>
</li>