/* Colors */

/* Blues */
$bright-blue: #28abe3;
$brighter-blue: #25a0da;
$dark-blue: #0000b3;
$header-color: #3f51b5;
$link-color: #337ab7;
$turquoise: #00656F;

/* Off-Whites */
$off-white: #faf8f2;
$off-white-a: rgba(250, 248, 242, .9);

/* Greens */
$dark-green: #00896A;
$green: #60BC56;
$lime-green: #18a676;
$light-green: #58ef0d;
$skillet: #253738;

/* Oranges */
$light-orange: #f7eac8;
$orange: #F3703A;

/* Yellows */
$dark-vivid-yellow: #d9aa16;
$light-yellow: #f1f15b;
$strong-yellow: #b58e12;
$vivid-yellow: #e8b71a;
$yellow: #FFDE2F;

/* Reds */
$berry: #db406c;
$bright-red: #db3340;
$red: #a6093d;
$strong-red: #b3202b;

/* Black, Gray, Transparent, White */
$barely-gray: #e5e7eb;
$black: #000;
$gray: #808080;
$light-gray: #BFBFBF;
$translucent-gray: #F2F2F2;
$transparent: rgba(255, 255, 255, 0);
$white: #fff;